# Ignoruj katalogi node_modules
backend/node_modules/
frontend/node_modules/

# Ignoruj foldery budowania
backend/build/
frontend/build/
backend/dist/
frontend/dist/

# Pliki logów
*.log

# Pliki konfiguracyjne środowiska
.env
